.home-container {
    background-color: #FFFFFF; /* Fondo blanco para el contenedor principal */
  }
  
  .content {
    margin: 0 auto; /* Esto centra el contenido */
    max-width: 1200px; /* Ancho máximo del contenido */
    padding: 20px; /* Agrega relleno alrededor del contenido */
  }
 .h2 {
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
  }